In [ ]:
Wife = 'Aleena'
print 'Happy',Wife, 'Happy Life'

In [ ]:
a=int(input("Please enter a number: "))
b=int(input("Please enter another number: "))
sum = a+b
print 'The sum of', a,'and', b,'is', sum

In [2]:
a=[]
b=[]
word = raw_input("Please enter a word: ")
word_lower = word.lower()
for letter in word_lower:
    a.append(letter)
a.reverse() 
for element in a:
    b.append(element)
a.reverse()

if a == b:
    print 'the word', word, 'is a palindrome'
else:
    print 'the word', word, 'is not a palindrome'

Please enter a word: qwerty
the word qwerty is not a palindrome

In [1]:
a=[]
b=[]
c = ['8','9']
d = []
year = raw_input("Please enter a year: ")
for digit in year:
    a.append(digit)
a.reverse()
if int(a[0]) == 0:
    print 'Please enter a valid year'
    exit()
elif len(a) == 2:
    if a[1] in c:
        a[1] = str(int(a[1]) - 1)
        a[0] = a[1]
    else:
        a[0] = a[len(a)-1]
elif len(a) == 3:
    a[0] = a[len(a)-1]
elif len(a) == 4:
    a[0] = a[len(a)-1]
    a[1] = a[len(a)-2]
''.join(a)

Please enter a year: 2022

'2002'

In [54]:
d ={'A':3, 'B':5}
print(d.get('B'))

5

In [ ]:
vowels = 'AEIOUaeiou'
i=0
word = raw_input("Please enter a word: ")
for letter in word:
    if letter in vowels:
        i += 1
print "the count of vowels is: ", i

In [ ]:
word1 = raw_input("Please enter a word: ")
word1 = word1.lower()
word2 = raw_input("Please enter another word: ")
word2 = word2.lower()
a=[]
b=[]

for letter in word1:
    a.append(letter)
    if letter == ' ':
        a.remove(letter)
        
for alphabet in word2:
    b.append(alphabet)
    if alphabet == ' ':
        b.remove(letter)
a.sort()
b.sort()

if a == b:
    print("The two words", word1,'and',word2, 'are anagrams of each other')
else:
    print("The two words", word1,'and',word2, 'are not anagrams of each other')

In [3]:
a = int(input("please enter a number:  "))
m = str(a)
c=[]
b=[]
for number in m:
    c.append(int(number))
for i in c:
    armstrong = i**(len(c))
    b.append(armstrong)
#print b
if sum(b) == a:
    print 'the number', a, 'is an armstrong number'
else:
    print 'the number', a, 'is not an armstrong number'

please enter a number:  153
the number 153 is an armstrong number

##

In [6]:
a = int(input("Please enter a number"))

if a == 1:
    print 'The number', a,'is a prime number'
elif a%2 == 1:
    print 'The number', a,'is a prime number'
else:
    print 'The number', a,'is not a prime number'

Please enter a number7
The number 7 is a prime number

In [ ]:
b = raw_input("please enter an element for the array: ")
a = [b]
d = []

for inputs in a:
    c = raw_input("please enter an element for the array: ")
    if c == '':
        break
    else:
        a.append(c)
for element in a:
        print 'the count of element', element, 'in the array is', a.count(element)

In [ ]:
print '%(language)s has %(number)03d quote types.' %{"language": "Python", "number": 2}

In [ ]:
"The sum of 1+2 is {0}".format(1+2)

In [ ]:
"{1}, {0}, {2}".format('a', 'b', 'c')

In [ ]:
s= 'a b c'
b = s.split()
b
"".join(b)

In [ ]:
'www.example.com'.lstrip('we.')

In [ ]:
s = 'a is a good lad'
s.replace("a", "Tony",2)

In [18]:
for i in range(10):
    print i

0
1
2
3
4
5
6
7
8
9

In [17]:
data = [0,1,2,3,4]
total=0
i=0
while i < len(data):
    total += data[i]
    i += 1
print total

10

In [54]:
friends =['Jesus', 'aleena', 'amma', 'appa' , 'appapa', 'ammama']
friends.insert(6, 'Pappa')

del friends[6]
print friends

['Jesus', 'aleena', 'amma', 'appa', 'appapa', 'ammama']

In [58]:
a = dict(one=1, two=2, three=3) 
a
a['one']
a['four'] = 4
print a

{'four': 4, 'three': 3, 'two': 2, 'one': 1}

In [60]:
Counts = dict()
Names = ['bush', 'cwen', 'zhen', 'raja', 'cwen', 'raja']
for name in Names :
    Counts[name] = Counts.get(name, 0) + 1
print(Counts)

{'raja': 2, 'bush': 1, 'zhen': 1, 'cwen': 2}

In [64]:
import numpy as np

In [65]:
import random
import numpy as np
import matplotlib.pyplot as plt
position = 0
walk = []
steps = 100

for n in range(steps):
    if randint(0,1) == 1:
        step = 1 
    else:
        step = -1
    walk.append(position)
    position += step
plt.plot(walk)

ImportError: No module named matplotlib.pyplot

In [25]:
import pandas as pd
import numpy as np
a = list('ABCDEFGHI')
b = [1,4,1,4,2,1,3,5,6]
x = pd.DataFrame(index = a)
x['Value'] = b
x

   Value
A      1
B      4
C      1
D      4
E      2
F      1
G      3
H      5
I      6

In [13]:
np.mean(b)

3.0

In [14]:
np.max(b)

6

In [19]:
a.count('A')

1

In [26]:
for x in b:
    c = b.count(x)
    print x, 'count :', c

1 count : 3
4 count : 2
1 count : 3
4 count : 2
2 count : 1
1 count : 3
3 count : 1
5 count : 1
6 count : 1